* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 2%;
}

nav ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}

nav li {
  width: 100%;
}

.post-form {
  border: solid white 2px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.post-content {
display: flex;
justify-content: space-between;
background-color: antiquewhite;

  button {
    outline-style: none;
    border: none;
    background-color: none;
    background-color: transparent;
    margin-top: 1em;
  }
}

.post-box {
  padding: 1em;
  width: 65%;
  border: solid blue 3px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
}

.comment-section {
  border: solid green 2px;
  border-radius: 20px;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  button {
    outline-style: none;
    border: none;
    background-color: none;
    background-color: transparent;
  }
}